<h1>User Admin Page</h1>

<table class="table">
  <% @users.each do |u|%>
    <tr>
      <td><%=u.email%></td>
      <td><%= link_to "Show", admin_user_path(u), :class =>"btn btn-primary"%></td>
    </tr>

  <%end%>
</table>